*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}
body{
    background: linear-gradient(to right, rgb(147, 205, 224), rgb(121, 222, 121));
}
.bombo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;    
    margin-top: 10%;
    gap: 10px;
}
.bombo h1{
    font-weight: 300;
}
.bombo input{
    width: 210px;
    height: 30px;
    font-size: 20px;
    padding: 14px;
    border: none;
    border-radius: 5px;
    
}
.bombo input:focus {
     outline: none;
      border: 2px solid #4CAF50; 
      box-shadow: 2px 0 3px rgba(76, 175, 79, 0.586); /* efek glow */ 
    }
.bombo button{
    width: 160px;
    height: 30px;
    border: none;
    background: linear-gradient(-45deg, rgb(48, 156, 48),rgb(59, 153, 184));
    border-radius: 20px;
    cursor: pointer;
    transition: 0.7s ease;
    font-weight: 200;
}
.bombo button:hover{
    box-shadow: 1px 3px 8px rgba(56, 55, 55, 0.416);
    font-weight: bolder;
}
.bombo p{
    margin-top: 2%;
    font-size: 20px;
}
